@CHARSET "UTF-8";
#sky{
        width:1500px;
        height:350px;
        background-color:skyblue;
    }

#field{
        width:1500px;
        height:700px;
        background-color:green;
    }

#goal{
        width:500px;
        height:500px;
        position:absolute;
        left:450px;
        top:100px;
        background:url('soccergoal.png') no-repeat center center;
        background-size:contain;
        z-index: 100;
    }
  
#soccerball{
        width:50px;
        height:50px;
        background:url('Soccerball.png') no-repeat center center;
        background-size:contain;
        position:absolute;
        top:755px;
        left:675px;
        z-index:200;
    }
    
#goalie{
    width:150px;
    height:150px;
    background:url('goalie.png') no-repeat center center;
    background-size:contain;
    position:absolute;
    top:330px;
    left:630px;
    z-index:100;
}
    
#penaltybox{
        width:1200px;
        height:500px;
        border:8px solid #fff;
        position:absolute;
        top:455px;
        left:100px;
}

#sixyardbox{
    width:600px;
    height:200px;
    border:8px solid #fff;
    position: absolute;
    top:455px;
    left:390px;
}

#penaltyspot{
    width:60px;
    height:60px;
    border-radius:50%;
    background-color:white;
    top:750px;
    left:670px;
    position:absolute;
}

.placementofshot{
    width:50px;
    height:50px;
    border-radius:50%;
    border:3px solid #fff700;
    position:absolute;
    z-index:100;
}

#upperleft{
    top:230px;
    left:470px;
}

#lowerleft{
    top:420px;
    left:470px;
}

#upperright{
    top:230px;
    left:880px;
}

#lowerright{
    top:420px;
    left:880px;
}

#goalanimation{
    height:100px;
    width:500px;
    position:absolute;
    top: 600px;
    left:500px;
    color:black;
    z-index:500;
    display:none;
    font-size:100px;
}

#scoreboard{
    height:100px;
    width:200px;
    position:absolute;
    top:50px;
    left:100px;
    background-color:black;
    border-radius:10%;
    border:8px solid #fff;
    z-index:500;
}

#Playerscore{
    height:50px;
    width:50px;
    border-radius:50%;
    background-color:white;
    top:50%;
    left:25%;
    position:absolute;
    color:black;
    text-align:center;
    font-size:40px;
   }

#Goaliescore{
    height:50px;
    width:50px;
    border-radius:50%;
    background-color:white;
    top:50%;
    left:75%;
    position:absolute;
    color:black;
    text-align:center;
    font-size:40px;
}
#name1{
    height:50px;
    width:50px;
    position:absolute;
    text-align:justify;
    top:30%;
    left:28%;
    color:white;
}

#name2{
    height:50px;
    width:50px;
    position:absolute;
    text-align:justify;
    top:30%;
    left:77%;
    color:white;
}

.gameover{
    height:100px;
    width:500px;
    position:absolute;
    top: 600px;
    left:500px;
    color:black;
    z-index:500;
    display:none;
    font-size:100px;
}