@CHARSET "UTF-8";

#sentenceBox{
    height: 200px;
    width: 500px;
    background-color: rgb(255, 255, 255); 
    border-radius: 8px;
    border:8px solid rgb(119, 116, 116); 
    left:400px;
    position:absolute;
    top:100px;
}


#morseCodeBox{
    height: 200px;
    width: 500px;
    background-color: rgb(255, 255, 255); 
    border-radius: 8px;
    border:8px solid rgb(119, 116, 116); 
    left:400px;
    position:absolute;
    top:400px;
}

#translateButton{
    height:25px;
    width:60px;
    background-color: white;
    border-radius:5px;
    border: 5px solid grey;
    left:840px;
    top:275px;
    position:absolute;
    text-align:center;
    line-height:25px;
}


[contentEditable=true]:empty:not(:focus):before{
  content:attr(placeholder);
  color:black;
}